<!DOCTYPE html>
<html>
    <head>
        <title> Blackjack </title>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
        <link href="/static/style.css" rel="stylesheet" >
    </head>
    <body>
        <header>
            <h1>Blackjack</h1>
        </header>
        <div id="table">
            <div id="dealer-area">
                <div id="dealer-cards" class="cards"></div>
                <div id="shoe"></div>
            </div>
            <div id="seat-area">
                <div id="hands-container">
                    <div class="hand-group">
                        <div class="cards"></div>
                        <div class="bet"></div>
                    </div>
                </div>
                <div id="bet-form">
                    <input type="number" id="bet-input" name="bet-input" placeholder="Enter your bet">
                    <button id="place-bet">Place Bet</button>
                </div>
                <div id="banner-container">
                    <div id="insurance-banner"><span></span></div>
                    <div id="message-banner"><span></span></div>
                </div>
            </div>
        </div>
        <footer id="action-bar">
            <div id="controls-group">
                <div id="button-panel">
                    <div class="button-row">
                        <button id="hit-button">Hit</button>
                        <button id="stand-button">Stand</button>
                        <button id="double-button">Double</button>
                        <button id="split-button">Split</button>
                    </div>
               </div>
                <div id="insurance-options">
                    <button id="accept-button">Accept</button>
                    <button id="decline-button">Decline</button>
                </div>
            </div>
            <div id="right-group">
                <div id="play-again-option">
                    <button id="play-again-button">Play Again</button>
                </div>
                <div id="bankroll-chips"></div>    
            </div>
        </footer>
        <script src="/static/script.js"></script>
    </body>
</html>